
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    margin:auto;
    padding:20px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    margin:20px;
    
}
.abc{
    text-align: center;
    border: 2px solid purple;
    border-radius: 5px;
    font-size: 25px;
    padding: 20px 10px;
}